@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'noto serif',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url("job1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.form-container{
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  background-color: rgba(	0,0,0, 0.63);
}
.form-container .employee-title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: #fff;
}
.form-container .employee-title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(140deg, #0000FF, #9B74FF);;
}
.main-content form .employee-input{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .employee-input .for-input{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .for-input span.employee-details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #fff;
}
.employee-input .for-input input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 7px;
  padding-left: 15px;
  border: 3px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.for-input1{
  height: 80px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 7px;
  padding-left: 15px;
  border: 3px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.employee-input .for-input input:focus,
.employee-input .for-input input:valid{
  border-color: #0c0c0c;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
 }
 .gender{
  color: #fff;
 }
 form .gender-category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
}
 form .gender-category label{
   display: flex;
   align-items: center;
   cursor: pointer;
}
 form .gender-category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #gender-1:checked ~ .gender-category label .one,
 #gender-2:checked ~ .gender-category label .two,
 #gender-3:checked ~ .gender-category label .three{
   background: #000000;
   border-color: #ffffff;
}
 form input[type="radio"]{
   display: none;
}
 form .button{
   height: 45px;
   margin: 35px 0
}
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(140deg, #0000FF, #9B74FF);
}
 form .button input:hover{
  background: linear-gradient(-125deg, #2973fd, #eeb7d1);
}
@media(max-width: 584px){
 .form-container{
  max-width: 100%;
 }
 form .employee-input .for-input{
    margin-bottom: 15px;
    width: 100%;
 }
  form .gender-category{
    width: 100%;
 }
  .main-content form .employee-input{
    max-height: 300px;
    overflow-y: scroll;
 }
  .employee-input::-webkit-scrollbar{
    width: 5px;
 }
}
@media(max-width: 459px){
  .form-container .main-content .gender-category{
    flex-direction: column;
  }
}
